  <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAjikXrE5Nw2qkAh2pV1AndBRd_f1wgoxrA90ATXKnKNuxhfd85BR749SJbLz1tXsn07_Es6HzO_rodg" type="text/javascript"></script>
  <%=javascript_include_tag 'maps_offices.js' %>
   <script>var offices= <%=@offices.to_json%>;  </script>


  <h1>  OFFICE LOCATION MAP  </h1>
  <div id="map" style="width: 900px; height: 700px"></div>
 Some other content here
