<h1>Your CBU Address Catalog</h1>
( click the "add to request" button for problem location )


<table>
		<tr>
			<th>Route Number</th>
			<th>Address</th>
		</tr>

	<% for cbu in @cbus %>
		<tr>
			<td><%=h cbu.route_number%></td>
			<td><%=h cbu.address%></td>
			<td><%= button_to 'Add to Request', cbustore_add_to_request_path(:id => cbu)%>
      </td>
		</tr>
	<% end %>
</table>

