<p>
  <b>Cbu:</b>
  <%=h @line_item.cbu_id %>
</p>

<p>
  <b>Order:</b>
  <%=h @line_item.order_id %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>